/*-----¼òÀúÏêÏ¸Ò³----------*/
body{ background-color:#4298D3; background-image:url(top.jpg)/*tpa=http://h.qiqianke.com/templates/tpl_resume/fengyehanlu/images/top.jpg*/; background-repeat:no-repeat}
.resume_show { margin-top:8px; width:700px;}
.resume_show .tablebg{ background-color: #FAFAFA;}
.resume_show .tdbg{ background-color: #FFFFFF;}
.resume_show .btit{padding:10px;}
.resume_show .title{ padding-left:15px; font-size:14px; background-color: #F2FAFD}
.resume_show .lefttit{ background-color:#FDF7EA}
.resume_show h1{ font-size:30px; font-family:"ºÚÌå"; margin-bottom:10px; color: #FFFFFF}
.resume_show .tip{ color: #FEE6B4; line-height:160%}
.resume_contact {}
.resume_contact .contact{ padding:3px; border:1px   #FF9900 solid; background-color: #FDFBF0; padding-left:8px; height:20px; line-height:20px;}
.resume_contact img{ margin:10px; cursor:pointer}
.resume_contact li{ line-height:25px; height:25px; padding-left:10px;}
.resume_contact .add_resume_pool{ cursor:pointer; color:#0066CC}