.linkbox{ width:953px;margin:0 auto; margin-top:8px;border:1px solid #E4E4E4;background-image:url(16.jpg)/*tpa=http://h.qiqianke.com/templates/default/images/16.jpg*/; background-repeat:repeat-x; padding:15px; line-height:180%;}
.linkbox  h1{ font-size:14px; font-weight:bold}
.link_input { width:200px; padding:3px; vertical-align:middle;font-family:Arial, Helvetica, sans-serif; font-size:12px; height:16px; line-height:16px;border:1px   #7F9DB9 solid;}
